<!DOCTYPE html>
<html>
<head>
  <!--python -m SimpleHTTPServer 8000 -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex@2.0.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.1.5/async.min.js"></script>
  <script src="store.js"></script>
  <script src="queue.js"></script>
  <script src="util.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dota Party</title>

  <style>
  input[type="search"] {
    height: 64px !important; /* or height of nav */
  }

  .chip-table {
    font-size: 9px;
    margin: 0 0 0 0;
  } 

  .hover {
    background-color: #f2f2f2;
  }

  

  .chip-table img {
    margin: 0 0 0 -12px;
  } 

  td, th {
    padding: 0 0 0 0;
    transition: background-color .25s ease;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  .btn {
    text-transform: none;
    letter-spacing: 0;
  }

  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

  </style>
</head>


<body>
  <script type="text/x-template" id="chip-hero"> 
    <div class="chip chip-table center-align" :class="cssClass" @click="click" style="width: 100%">
      <img :src="image">
      <span>{{ persona }}</span>
    </div>
  </script>

  <main id="app">
  <nav class="blue">
    <div class="nav-wrapper container">
      <div class="brand-logo">Dota Party</div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav blue" id="mobile-demo">
        <li>
          <form @submit.prevent="accountIdSearch">
            <div class="input-field">
              <input id="search" type="search" v-model="accountId" placeholder="Account ID">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li>
          <form @submit.prevent="matchIdSearch">
            <div class="input-field">
              <input id="search" type="search" v-model="matchId" placeholder="Match ID">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
      <ul id="mobile-demo" class="right hide-on-med-and-down">
        <li>
          <form @submit.prevent="accountIdSearch">
            <div class="input-field">
              <input id="search" type="search" v-model="accountId" placeholder="Account ID">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li>
          <form @submit.prevent="matchIdSearch">
            <div class="input-field">
              <input id="search" type="search" v-model="matchId" placeholder="Match ID">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div style="height: 50px">
    <div class="blue lighten-3" :class="{ progress: loading > 0}">
        <div class="blue indeterminate"></div>
    </div>
  </div>
  <div>
    <div class="container">
    <div class="row">
      <div class="col s12 m12 l6" v-if="player.profile != null" >
        <div class="card horizontal hoverable">
          <div class="card-image">
            <img :src="player.profile.avatarfull">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <a target="_blank" :href="'https://www.opendota.com/players/' + player.profile.account_id">
              <h2>{{ player.profile.personaname }}</h2>
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div v-for="match in matches"  class="col s6">
          <button @click="findMatch(match.match_id)" class="waves-effect waves-light btn-large blue accent-1" style="margin-bottom: 5px; width: 100%">
              <i class="material-icons left" style="margin-top: 4px"><img :src="'https://api.opendota.com' + getHero(match.hero_id).icon"></i>
              <span>{{ match.kills }}/{{ match.deaths }}/{{ match.assists }}</span>
          </button>
        </div>
      </div>
    </div>
    </div>
    <div id="selectedMatch">
    <div v-if="selectedMatch.match_id" class="grey lighten-3">
    <div class="row">
    <div class="col s12">
    <h3 class="center-align">
      <a target="_blank" :href="'https://www.opendota.com/matches/' + selectedMatch.match_id">
        {{ selectedMatch.match_id }}
      </a>
    </h3>
    <h6 class="center-align">
      {{ selectedMatch.radiant_win ? 'Radiant Victory!' : 'Dire Victory!' }}
    </h6>
    <h6 class="center-align">
      {{ selectedMatch.start_time | asDateString }} {{ selectedMatch.start_time | asTimeString }}
    </h6>
    </div>
    </div>
    <div class="card">
              <div class="card-content">
    <div class="row">
    <div class="col s12">
    <table class="responsive-table centered striped">
      
      <tbody>
      <tr>
          <td>


            <div class="chip chip-table center-align btn" @click="selectedMatch.players.map(loadCrossFight)" style="width: 100%">
              <span>Load all</span>
            </div>
          </td>
          <td v-for="player in selectedMatch.players">
            <div>
              <div class="chip chip-table center-align" :class="chipHeaderCssClass(player)" @click="actionCrossFight(player)" style="width: 100%">
                <img :src="'https://api.opendota.com' + getHero(player.hero_id).icon">
                <span>{{ player | asPersona }}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr v-for="player2 in crossPlayersToShow"  style="height: 32px">
          <td>
            <div class="chip chip-table center-align" :class="cssClass(player2)" style="width: 100%">
              <img :src="'https://api.opendota.com' + getHero(player2.hero_id).icon">
              <span class="hide-on-med-and-down">{{ player2 | asPersona }}</span>
            </div> 
          </td>
          <td v-for="player1 in selectedMatch.players">
            <a :id="'c' + player1.account_id + player2.account_id"
               href="#" @click="setCrossMatchesBetween(player1, player2)" class="tooltipped" data-position="bottom" data-delay="50" 
               v-if="matchesBetween(player1, player2) > 0"> 
              {{ matchesBetween(player1, player2) }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="crossMatches">
      <div v-if="crossMatches.length > 0">

      <div class="row">
        <div class="col s12">
          <h3 class="center-align">
          Matches between
            <a target="_blank" :href="'https://www.opendota.com/players/'+crossPlayers[0]+'/matches?included_account_id='+ crossPlayers[1]">
            {{ discoverPlayer(crossPlayers[0]) | asPersona }} and {{ discoverPlayer(crossPlayers[1]) | asPersona }}
            </a>
          </h3>
        </div>
      </div>
      <div>
        <div class="container">
        <div class="row">
          <div v-for="match in crossMatches.slice(0, 50)" class="col s12 m6 l4">
            <div class="card hoverable grey lighten-4">
              <div class="card-content">
                <span class="card-title">
                  <a href="#" @click="findMatch(match.match_id, crossPlayers)">{{ match.match_id }}</a>
                    <small class="right">
                    <span>
                      {{ match.start_time | asDateString }}
                    </span>
                    <span class="hide-on-med-and-down">
                      {{ match.start_time | asTimeString }}
                    </span>
                    </small>
                  <div class="divider"></div>
                </span>

                <div v-for="h in filterPlayers(match)" class="chip chip-table center-align" :class="cssClass(h)" style="width: 100%">
                  <img :src="'https://api.opendota.com' + getHero(h.hero_id).icon">
                  <span>{{ discoverPlayer(h.account_id) | asPersona }}</span>
                  <span class="right">{{ determineVictoryLoss(match, h) }}</span>
                </div> 
              </div>
            </div>
          </div>
         </div>
       </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </main>
  <footer class="page-footer blue">
    <div class="footer-copyright">
      <div class="container">
        <div class="col s12 m8">
          <span class="white-text left">
          It may seem slow, but we are respecting one request per sec as OpenDota asks us. <br>
          Fully powered by <a class="orange-text text-lighten-3" target="_blank" href="https://www.opendota.com">OpenDota</a> and Valve</span>
        </div>
        <div class="col s12 m4 right">
      Made with <a class="orange-text text-lighten-3" target="_blank" href="http://materializecss.com">Materialize</a> and <a class="orange-text text-lighten-3" target="_blank" href="https://vuejs.org/">Vue.js</a>
        </div>
      </div>
    </div>
  </footer>
    
<script>
var app = new Vue({
  el: '#app',
  store: store, 
  created: function() {
    var vm = this;
    vm.$store.dispatch('updateHeroes');

    if (localStorage.getItem('accountId') != null) {
      vm.accountId = localStorage.getItem('accountId');
      vm.accountIdSearch();
    }

    axios.interceptors.request.use(function(config) {
      vm.loading += 1;;
      return config;
    });
    axios.interceptors.response.use(function(response) {
      vm.loading -= 1;
      return response;
    }, function(error){
      vm.loading -= 1;
      vm.error = error;
      return Promise.reject(error);
    });

  },
  data: function() {
    return {
      lastRequest: new Date(),
      loading: 0,
      error: '',
      accountId: '',
      matchId: '',    
      heroes: [],
      crossMatches: [],
      crossPlayers: [],
      crossFight: {},
      queue: {}
    }
  }, 
  computed: {
    player: function() {
      return this.$store.getters.getCurrentPlayer;
    },
    matches: function() {
      return this.$store.getters.getCurrentPlayerGames;
    },
    selectedMatch: function() {
      return this.$store.getters.getSelectedMatch;
    },
    crossPlayersToShow: function() {
      return this.$store.getters.getSelectedPlayers;
    }
  },
  methods: {
    clean: function() {
      this.error = '';
      this.crossMatches = [];
      this.crossPlayers = [];
      this.crossFight = {};
    },
    accountIdSearch: function() {
      this.$store.dispatch('updateCurrentPlayer', this.accountId);
      $('.button-collapse').sideNav('hide');

    },
    matchIdSearch: function() {
      this.clean();
      this.findMatch(this.matchId);
      $('.button-collapse').sideNav('hide');
    },
    findMatch: function(matchId, accountsToShow)  {
      var vm = this;
      var accs = accountsToShow || (('profile' in this.player) ? [ this.player.profile.account_id ]: [] );

      vm.$store.dispatch('loadMatch', matchId);

      $('html, body').animate({
        scrollTop: $('#selectedMatch').offset().top
      }, 500);
    },
    removeCrossFight: function(player) {
      this.crossPlayersToShow.splice(this.crossPlayersToShow.indexOf(player), 1);
    },
    actionCrossFight: function(player) {
      if (this.crossPlayersToShow.indexOf(player) >= 0)
        this.removeCrossFight(player);
      else
        this.loadCrossFight(player);
    },
    matchesBetween: function(p1, p2) {
      var a = this.$store.getters.getMatchesBetween(p1.account_id, p2.account_id)
      if (a)
        return a.length;
      else
        return '';
    },
    getHero: function(heroId) {
      return this.$store.getters.getHero(heroId);
    },
    cssClass: function(player) {
      return { 
        'green lighten-4': player.player_slot < 10,
        'red lighten-4': player.player_slot > 10
      }
    },
    chipHeaderCssClass: function(player) {
      return {
        'green': player.player_slot < 10,
        'red': player.player_slot > 10,
        'lighten-4': player.account_id == null,
        'btn': true
      }
    },
    setCrossMatchesBetween: function(p1, p2) {
      this.crossPlayers = [ p1.account_id, p2.account_id];
      this.crossMatches = this.crossFight[p1.account_id + " " + p2.account_id];
      $('html, body').animate({
        scrollTop: $('#crossMatches').offset().top
      }, 500);
    },
    filterPlayers: function(match) {
      var ps = []
      for (var p in match.heroes) {
        if (this.crossPlayers.indexOf(match.heroes[p].account_id) >= 0)
          ps.push(match.heroes[p]);
      }
      return ps;
    },
    discoverPlayer: function(accountId) {
       return this.selectedMatch.players.find(function(p) {
         return p.account_id == accountId;
       });
    },
    determineVictoryLoss: function(match, hero) {
      if (hero.player_slot < 10 && match.radiant_win)
        return 'Victory!'
      if (hero.player_slot > 10 && !match.radiant_win)
        return 'Victory!'

      return 'Loss!'
    },
    playersToShow: function(players) {
      var vm = this;
      if ('profile' in vm.player)
        return players.filter(function(p) { return p.account_id ==  vm.player.profile.account_id});
      return players;
    }
  },
  filters: {
    asPersona: function(player) {
      return ('personaname' in player) ? player.personaname : 'unknown';
    },
    asDateString: function(seconds) {
      var d = new Date(0);
      d.setUTCSeconds(seconds);
      return d.toLocaleDateString();
    },
    asTimeString: function(seconds) {
      var d = new Date(0);
      d.setUTCSeconds(seconds);
      return d.toLocaleTimeString();
    }
  }
})

$(".button-collapse").sideNav();

/*$('body').on('mouseover', 'table td', function() {
    $('table td:nth-child(' + ($(this).index() + 1) + ')').addClass('hover');
});

$('body').on('mouseleave', 'table td', function() {
    $('table td:nth-child(' + ($(this).index() + 1) + ')').removeClass('hover');
});*/

 
</script>

</body>


</html>
